@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
    font-family: "Inter", sans-serif;
}

.custom-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
}

.custom-description-class {
    max-width: 18rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.truncate-class {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.custom-height {
    height: calc(100vh - 4rem);
}

.w-18 {
    width: 18rem;
}